<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">CRUD Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="fetch-all">Fetch All</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="savecustomer">Save</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Update</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Delete</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main><!-- /.container -->

